<div data-controller="popup individual-email">
	<div class="row g-2">

		<div class="col-1">
			<div class="p-2 t-1">
				<% if lead.rating > 6.66 %>
					<i class="fa-solid fa-star text-primary"></i>
				<% elsif lead.rating > 3.33 %>
					<i class="fa-regular fa-star-half-stroke text-primary"></i>
				<% else %>
					<i class="fa-regular fa-star text-primary"></i>
				<% end %>
			</div>
		</div>

		<div class="col-3">
			<div class="p-2 mt-1">
				<a class="text-primary text-decoration-none popup-link" data-action="click->popup#show"><%= lead.name %></a>
			</div>
		</div>

		<div class="col-4">
			<div class="p-2 mt-1"><%= lead.email%></div>
		</div>

		<div class="col-3">
			<div class="p-2 t-1"><%= lead.phone_number%></div>
		</div>

		<div class="col-1">
			<div class="p-2 toggler-wrapper style-2">
				<%# Need to change lead.email to index later on when we time - Sabrina %>
				<%= f.check_box "email#{lead.id}", {:class => "myclass", :id => lead.name}, lead.id, "" %>
			</div>
		</div>

	</div>



	<%= popup title: lead.name do %>
		<div class="d-flex justify-content-between pt-3">
      <h3 class="indiv-font">Email:</h3>
      <div class="px-1 box overflow-auto email-box email-field">
        <%= lead.email %>
      </div>

      <h3 class="indiv-font">Phone No:</h3>
      <div class="px-1 box phone-number-box">
        <%= lead.phone_number %>
      </div>
    </div>

		<ul class="nav nav-tabs mt-4" id="myTab<%= lead.id %>" role="tablist">
			<li class="nav-item" role="presentation">
				<button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane-<%= lead.id %>" type="button" role="tab" aria-controls="home-tab-pane-<%= lead.id %>" aria-selected="true">Response</button>
			</li>
			<li class="nav-item" role="presentation">
				<button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane-<%= lead.id %>" type="button" role="tab" aria-controls="profile-tab-pane-<%= lead.id %>" aria-selected="false">Message</button>
			</li>
		</ul>
		<div class="tab-content mt-2" id="myTabContent<%= lead.id %>">
			
			<div class="tab-pane fade show active" id="home-tab-pane-<%= lead.id %>" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
				<div class="box overflow-auto response-size">
      <div class="m-4">
        <% UserQuestion.join_questions_for(current_user).each_with_index do |question, index| %>
          <hr>
          <p class="text-primary"> <%= question.title %></p>
          <hr>
          <%= lead.response.answers[index].value %>
          <%# lead.response.answers.each do |answer| %>
            <%# <p>= answer.value</p> %>
          <%# end %>
        <% end %>
					</div>
				</div>
				<h3 class="indiv-font pt-3">Rating</h3>
				<div class="p-1">
					<% if lead.rating > 6.66 %>
						<i class="mx-2 fa-regular fa-star text-lighter fa-xl"></i>
						<i class="mx-2 fa-regular fa-star-half-stroke text-lighter fa-xl"></i>
						<i class="mx-2 fa-solid fa-star color-hot fa-xl"></i>
					<% elsif lead.rating > 3.33 %>
						<i class="mx-2 fa-regular fa-star text-lighter fa-xl"></i>
						<i class="mx-2 fa-regular fa-star-half-stroke color-warm fa-xl"></i>
						<i class="mx-2 fa-solid fa-star text-lighter fa-xl"></i>
					<% else %>
						<i class="mx-2 fa-regular fa-star color-cold fa-xl"></i>
						<i class="mx-2 fa-regular fa-star-half-stroke text-lighter fa-xl"></i>
						<i class="mx-2  fa-solid fa-star text-lighter fa-xl"></i>
					<% end %>
				</div>
			</div>

			<div class="tab-pane fade" id="profile-tab-pane-<%= lead.id %>" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
				<textarea id="message_box_<%= lead.id %>" maxlength="350" class="box overflow-auto message-box-size" data-individual-email-target="message"></textarea>
				<div class="my-4 d-flex flex-row-reverse">
					<%= button_to "Message", send_individual_email_path(lead_id: lead.id, lead_email: lead.email, lead_name: lead.name), remote: true, params: { message: "" }, class: "btn btn-primary message-box", data: { turbo_frame: "popup-frame" }, id: "send-message-button" %>
				</div>
			</div>
		</div>
  <% end %>
</div>

<script>
	document.querySelector("#message_box_<%= lead.id %>").addEventListener("keyup", (e) => {
		console.log(e.currentTarget.value);
		const emailMail = document.getElementsByClassName('email-field')[<%= lead.id - 1 %>];
		console.log(emailMail.innerHTML)
		document.querySelector("#profile-tab-pane-<%= lead.id %>").querySelector("input[name='message']").value = e.currentTarget.value
	});
</script>
