<div data-controller="popup">
	<div class="row g-2">

		<div class="col-1">
			<div class="p-2 t-1">
				<% if lead.rating > 6.66 %>
					<i class="fa-solid fa-star text-primary"></i>
				<% elsif lead.rating > 3.33 %>
					<i class="fa-regular fa-star-half-stroke text-primary"></i>
				<% else %>
					<i class="fa-regular fa-star text-primary"></i>
				<% end %>
			</div>
		</div>

		<div class="col-3 box">
			<div class="p-2 mt-1">
				<a class="text-dark text-decoration-none popup-link" data-action="click->popup#show"><%= lead.name %></a>
			</div>
		</div>

		<div class="col-4">
			<div class="p-2 mt-1"><%= lead.email%></div>
		</div>

		<div class="col-3">
			<div class="p-2 t-1"><%= lead.phone_number%></div>
		</div>

		<div class="col-1">
			<div class="p-2 toggler-wrapper style-2"><%= check_box_tag "Message", 'yes'%></div>
		</div>

	</div>



	<%= popup title: lead.name do %>
    <div class="d-flex justify-content-between pt-3">
			<h3 class="indiv-font">Email:</h3>
			<div class="px-1 box overflow-auto email-box">
				<%= lead.email %>
			</div>

			<h3 class="indiv-font">Phone No:</h3>
			<div class="px-1 box phone-number-box">
				<%= lead.phone_number %>
			</div>
		</div>

		<%# responses and answers %>
		<h3 class="indiv-font pt-3">Response</h3>
		<div class="box overflow-auto response-size">
			<div class="m-4">
				<% UserQuestion.join_questions_for(current_user).each do |question| %>
          <hr>
				  <p class="text-primary"> <%= question.title %></p>
          <hr>
					<% lead.response.answers.each do |answer| %>
					<p><%= answer.value %></p>
					<% end %>
				<% end %>
			</div>
		</div>

		<%# rating %>
		<h3 class="indiv-font pt-3">Rating</h3>
		<div class="p-1">
			<% if lead.rating > 6.66 %>
				<i class="mx-2 fa-regular fa-star text-lighter fa-xl"></i>
				<i class="mx-2 fa-regular fa-star-half-stroke text-lighter fa-xl"></i>
				<i class="mx-2 fa-solid fa-star color-hot fa-xl"></i>
			<% elsif lead.rating > 3.33 %>
				<i class="mx-2 fa-regular fa-star text-lighter fa-xl"></i>
				<i class="mx-2 fa-regular fa-star-half-stroke color-warm fa-xl"></i>
				<i class="mx-2 fa-solid fa-star text-lighter fa-xl"></i>
			<% else %>
				<i class="mx-2 fa-regular fa-star color-cold fa-xl"></i>
				<i class="mx-2 fa-regular fa-star-half-stroke text-lighter fa-xl"></i>
				<i class="mx-2  fa-solid fa-star text-lighter fa-xl"></i>
			<% end %>
		</div>

		<%# button %>
		<div class="my-4 message-right">
			<button class="btn btn-primary message-box" type="submit">Message</button>
		</div>
  <% end %>
</div>
