<div class="container mt-5">

	<div class="container">
  	<div class="container p-3">
      <h4><strong>Let's get started, <%= current_user.name %>!</strong></h4>
      <p class="grey-text">Let's take a peek at how your campaigns and leads are performing...</p>
    </div>
    <br>
		<div class="row">
			<div class="col">
				<div class="container-purple-blue p-3 shadow-sm border-light">
					<h3>Campaigns</h3>
					<p class="grey-text">THIS WEEK</p>
					<h2><strong><%= Campaign.count %></strong></h2>
				</div>
			</div>

			<div class="col">
				<div class="container-purple-blue p-3 shadow-sm border-light">
					<h3>Qualified Leads </h3>
					<p class="grey-text">THIS WEEK</p>
					<h2><strong><%= Lead.where("rating > 6.66").count %></strong></h2>
				</div>
			</div>

			<div class="col">
				<div class="container-purple-blue p-3 shadow-sm border-light">
					<h3>Leads </h3>
					<p class="grey-text">THIS WEEK</p>
					<h2><strong><%= Lead.count %></strong></h2>
				</div>
			</div>
		</div>

    <div class="mt-5">
      <div class="container-purple-blue p-3 shadow-sm border-light" style="width: 1200;">
        <h2> Total Leads </h2>
        <p class="grey-text"> A concise overview of the leads' trends over the last months</p>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <canvas
          id="myChart"
          style="width:100%;max-width:100%"
          data-controller="chart"
          data-chart-x-value="<%= @x_values %>"
          data-chart-y-value="<%= @y_values %>"
          data-chart-type-value="line">
        </canvas>
      </div>
	</div>
</div>
