<div class="container" data-controller="choose-previous-questions">
  <div class="row">
    <h1 class="text-center my-5">Customize Your Form Questions</h1>

      <%# Lead questions %>
      <%= simple_form_for [@campaign, @lead] do |f| %>
        <%= f.input :name, disabled: true, input_html: { value: 'Lead will input name here', class: 'default-value' } %>
        <%= f.input :email, disabled: true, input_html: { value: 'Lead will input email here', class: 'default-value' }  %>
        <%= f.input :phone_number, disabled: true, input_html: { value: 'Lead will input phone number here', class: 'default-value' }  %>
      <% end %>

      <%# Current_user compulsory questions %>
      <%# <h2>Previously saved questions</h2> %>


      <div data-choose-previous-questions-target='addqn'>
        <%# additional questions %>
        <% @form.questions.each do |question| %>
          <div class="mb-3 string required disabled lead_name">
            <label data-choose-previous-questions-target="addqn" class="form-label string required disabled" for="lead_name">
            <%= question.title %><abbr title="required">*
            <% if question.is_mcq? %>
              <br><small>
                <% question.options.each do |option| %>
                  <%= option.value %> <br>
                <% end %>
              </small>
            <%end%>
            </abbr></label>
            <input class="delete-checkbox" type="checkbox">
            <input class="form-control string required disabled default-value" value="Lead will input answer here" disabled="disabled" type="text" name="lead[name]" id="lead_name">
          </div>
        <% end %>
      </div>

    <div>
      <p><strong>Add custom questions to your form (optional)</strong></p>
        <% unless @previous_questions.empty? %>
          <div class="rounded form-control default-value" data-action="click->choose-previous-questions#popupQuestions">
            Frequently asked questions:
            <%= simple_form_for @form, remote: true, data: {
                choose_previous_questions_target: "form"
              } do |f| %>
              <%= f.input :questions,
              input_html: { id: "tom-select-it" },
              data: {
                choose_previous_questions_target: "tom"
              } %>
            <% end %>
            <%# <input data-choose-previous-questions-target="tom" id="tom-select-it" /> %>
            <div>
              <%= button_tag 'Add', class: 'btn btn-info', 'data-action': 'click->choose-previous-questions#submitQuestions' %>
            </div>
          </div>
        <% end %>

      <div class="form-control default-value">
        <div>
          <p>Select the format of the question:</p>
        </div>
        <span data-controller="popup">
          <%= button_tag 'Open-Ended', class: 'btn btn-info', 'data-action': 'click->popup#show' %>
          <%= render 'create_new_qn', form: @form, question: Question.new, campaign: @campaign %>
        </span>
        <span data-controller="popup">
          <%= button_tag 'Multiple-Choice', class: 'btn btn-info', 'data-action': 'click->popup#show' %>
          <%= render 'create_new_multiple_choice', form: @form, question: @question, campaign: @campaign %>
        </span>
      </div>
    </div>

      <%#= f.submit "Submit new form!", class: "btn btn-primary" %>
      <div class="flex-container my-3">
      <%= link_to 'Generate Lead Form URL', campaigns_path, class: "btn btn-primary" %>
      <%= link_to "Back to edit Form Title", new_campaign_form_path(@campaign), class: "btn btn-secondary" %>
      </div>
  </div>

      <script>
        // Retrieve the link element
        const randomLink = document.getElementById('randomLink');

        // Event listener for link click
        randomLink.addEventListener('click', (event) => {
          // Prevent the default behavior of the link
          event.preventDefault();

          // Generate a random URL
          const randomURL = generateRandomURL();

          // Open the random URL in a new tab or window
          window.open(randomURL, '_blank');
        });

        // Function to generate a random URL
        function generateRandomURL() {
          // Replace "form.html" with the actual file name and extension of your form
          const formURL = "https://leadspro-9ddc3d1f2886.herokuapp.com/forms/4/leads/new";

          // Generate a random query parameter or value
          const randomParam = Math.random().toString(36).substring(7);

          // Combine the form URL with the random query parameter
          return `${formURL}?id=${randomParam}`;
        }
      </script>
</div>

<link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/js/tom-select.complete.min.js"></script>
<script>
    var settings = {
      options: [
          <% @previous_questions.each do |compulsory| %>
            {value: "<%= compulsory.id %>", text: "<%= compulsory.title %>"},
          <% end %>
      ]
    };
    new TomSelect('#tom-select-it',settings);
</script>
