<div class="col-12">
  <% campaigns.each do |campaign| %>
    <div class="row g-2 pt-2" data-controller="popup">
      <div class="col-3 box">
        <div class="p-2 mt-1"><%= link_to campaign.name, campaign_leads_path(campaign), class: "text-dark text-decoration-none" %></div>
      </div>
      <div class="col-4">
        <div class="p-2 mt-1"><%= campaign.date_created %> </div>
      </div>
      <div class="col-3">
        <div class="p-2 mt-1">URL</div>
      </div>
      <div class="col-2">
        <%= link_to "EDIT", edit_campaign_path(campaign), class: "btn btn-primary rounded-4 p-2" %>
        <button data-action="click->popup#show" class="btn btn-primary rounded-4 p-2" type="submit">VIEW</button>
      </div>
      <%# popup box %>
      <div class="popup-overlay" data-popup-target="popupContent">
        <div class="popup-content">

          <div>
            <button class="x-button" data-action="click->popup#close">x</button>
          </div>

          <div class="d-flex justify-content-center px-2 pt-4">
            <h1><%= campaign.name.upcase %></h1>
          </div>

          <div class="ps-5 mt-3" style="font-size: 20px;">TOTAL LEADS: <u><b><%= campaign.leads.count %></b></u></div>
          <div class="ps-5 mt-2" style="font-size: 20px;"><u>CAMPAIGN DETAILS</u></div>
          <div class="campaign-details border border-dark my-3 p-2 shadow-lg"><%= campaign.details.capitalize %></div>

          <div class="ps-5 pb-3">
            <div class="dates d-flex w-100 align-items-baseline">
              <div class="start_date align-items-center">
                <input class="form-control border-dark start_date me-3" type="date" placeholder="start date" style="border border-dark">
              </div>

              <div class="end_date align-items-center">
                <input class="form-control border-dark end_date me-3" type="date" placeholder="end date">
              </div>
            </div>
          </div>

            <div class="campaign-button">
              <button type="submit" class="btn btn-primary btn-lg">EDIT</button>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
