<div class="col-12">
  <% campaigns.each do |campaign| %>
    <div class="row g-2 pt-2" data-controller="popup">
      <div class="col-3">
        <div class="p-2 mt-1 text-dark text-decoration-none"><%= link_to campaign.name, campaign_leads_path(campaign)%></div>
      </div>
      <div class="col-4">
        <div class="p-2 mt-1"><%= campaign.date_created %> </div>
      </div>
      <div class="col-3">
        <div class="p-2 mt-1">
          <% if campaign.forms.empty? %>
            <%= link_to 'Create Form', new_campaign_form_path(campaign) %>
          <% else %>
            <%= link_to 'View Form', campaign_form_path(campaign.name, campaign.forms.first.title) %>
          <% end %>
        </div>
      </div>
      <div class="col-2">
        <%= link_to "EDIT", edit_campaign_path(campaign), class: "btn btn-primary rounded-3 p-2" %>
        <button data-action="click->popup#show" class="btn btn-primary rounded-3 p-2" type="submit">VIEW</button>
      </div>
      <%# popup box %>
      <div class="popup-overlay" data-popup-target="popupContent">
        <div class="popup-content">

          <div>
            <button class="x-button" data-action="click->popup#close">x</button>
          </div>

          <div class="d-flex justify-content-center px-2 pt-4">
            <h1><%= campaign.name.titleize %></h1>
          </div>

          <%# <div class="ps-5 mt-3" style="font-size: 20px;">TOTAL LEADS: <u><b><%= campaign.leads.count</b></u></div> %>
          <%= link_to campaign_leads_path(campaign), style: "text-decoration: none; color: black;" do %>
            <div class="ps-5 mt-3" style="font-size: 20px;">
            <br>
              <!-- Assuming the value '<%= campaign.leads.count %>' is within a container -->
            <p>Total Leads: <span class="text-primary"><%= campaign.leads.count %></span></p>
              </div>
            <% end %>

          <div class="ps-5 mt-3" style="font-size: 20px;">Campaign Details:</div>
          <div class="campaign-details border border-dark my-3 p-2"><%= campaign.details.capitalize %></div>
          <br>

            <div class="campaign-button d-flex justify-content-center justify justify-content-evenly">
              <%= link_to "View Leads", campaign_leads_path(campaign), class: "btn btn-primary btn-lg" %>
              <button type="submit" class="btn btn-primary btn-lg">Edit</button>
            </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
